<div class="banner">
    <p class="logo">BookIT</p>
    <div class="buttons">
        <button class="small-button" routerLink="/auth/register">Зарегистрироваться</button>
        <button class="small-button border-button" routerLink="/auth/login">Войти</button>
    </div>
</div>

<div class="intro">
    <h1>Твоя жизнь становится лучше,<br><span style="color: var(--blue-60);">когда ты бронируешь с BuildIT</span></h1>
    <a class="w-full flex flex-col items-center" routerLink="/auth/login"><button class="large-button">Начать Работу</button></a>
</div>

<div class="features">

</div>